body {
    background-image:
        linear-gradient(rgba(15, 15, 15, 0.4),
            rgba(15, 15, 15, 0.4)),
        url('../Image/1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
