/* ========== GENERAL STYLES ========== */

@import url(https://fonts.googleapis.com/css?family=Nunito);

@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');

:root {
    --c_primary: #00B4DB;
    --c_primaryDark: #0083B0;
    --c_primaryDarken: #04A6CA;
    --c_primaryDark_02: #0078A0;
    --sh_primary: 0 0 0 0.2rem rgba(0, 180, 219, 0.3);
    --sh_primaryDark: 0 0 0 0.2rem rgba(0, 131, 176, 0.3);
    --sh_light: 0 0 0 0.2rem rgba(225, 225, 225, 0.3);
    --sh_base: 0 .5rem 1rem rgba(0, 0, 0, .15);
    --sh_base_light: 0 .5rem 1rem rgba(170, 167, 167, 0.15);

    --c_label: #6C757D;
    --c_grey_light: rgb(173, 176, 179);

    --ff_nunito: "Nunito", sans-serif;
    --ff_saira: 'Saira Stencil One', cursive;

    --bg_grad_h: linear-gradient(To right, #0083B0, #00B4DB);
    --bg_gradDark_h: linear-gradient(To right, rgb(0, 120, 160), rgb(4, 166, 202));
    --bg_grad_v: linear-gradient(90deg, #0083B0, #00B4DB);
}

body {
    font-family: var(--ff_nunito);
}

.text_list {
    font-size: 14px;
}

.text_p {
    color: var(--c_primary);
}

/* CONTAINERS */
.full_container {
    width: 100%;
    height: 100vh;
}

/* FONT FAMILY */
.ff_nunito {
    font-family: var(--ff_nunito);
}

.ff_saira {
    font-family: var(--ff_saira);
}

/* BACKGROUNDS */
.bg_primary {
    background: #660000;
}

.title {
    font-family: 'Saira Stencil One', cursive;
    text-transform: uppercase;
    color: white;
}

.bg_cp_img {
    background-image:
        linear-gradient(rgba(15, 15, 15, 0.4),
            rgba(15, 15, 15, 0.4)),
        url('../Image/1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.bg_grad_h {
    background-image: var(--bg_grad_h);
}

.bg_grad_v {
    background-image: var(--bg_grad_v);
}

/* INDEX */

.z_i_0 {
    z-index: 0;
}

.z_i_1 {
    z-index: 1;
}

.z_i_2 {
    z-index: 2;
}

.z_i_3 {
    z-index: 3;
}

/* CARDS */
.card_reveal_effect_rotate_y {
    cursor: pointer;
    overflow: hidden;
}

.card_reveal_effect_rotate_y .reveal {
    position: absolute;
    backface-visibility: hidden;
    background-color: rgba(225, 225, 225, .4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .6s linear;
    transform: perspective(600px) rotateY(180deg);
}

.card_reveal_effect_rotate_y:hover>.reveal {
    transform: perspective(600px) rotateY(0deg);
}

/* IMAGES */
.inner-img {
    overflow: hidden;
}

.inner-img img {
    transition: all 1.5s ease;
}

.inner-img:hover img {
    transform: scale(1.5);
}

.img_modal {
    width: 100px;
    height: auto;
}

/* POSITION */
.t_0 {
    top: 0;
}

.b_0 {
    bottom: 0;
}

.r_0 {
    right: 0;
}

.l_0 {
    left: 0;
}

/* MEDIA */
@media only screen and (max-width:764px) {

    /* 990 */
    .txt_c {
        text-align: center;
    }
}

/* FORMS */

.form_reg {
    background-color: var(--color-white);
}

.form_reg label {
    font-weight: bold;
    color: var(--color-label);
}

.form_reg .form-control {
    font-size: 0.875rem;
}

.form_reg .form-control_textarea_lg {
    font-size: 0.875rem;
    min-height: 12.5rem;
    text-align: justify;
}

.form_reg .form-control_textarea_md {
    font-size: 0.875rem;
    min-height: 7.8125rem;
    text-align: justify;
}

.form_reg input:focus,
.form_reg textarea:focus,
.form_reg select:focus {
    box-shadow: var(--sh_primary);
}

.img_reg {
    min-height: 15.625rem;
    max-height: 15.625rem;
    width: 100%;
}

.subarea_reg {
    box-shadow: var(--sh_base_light);
    border: 1px solid var(--c_grey_light);
}

/* SHADOWS */

.shadow_light {
    box-shadow: var(--sh_base_light);
}

/* BORDERS */
.border_light {
    border: 1px solid var(--c_label);
}


/* BUTTONS */
.btn_outl_w {
    border: 1px solid white;
    color: white;
    box-shadow: var(--sh_base);
    transition: 300ms all;
}

.btn_outl_w:hover,
.btn_outl_w:focus,
.btn_outl_w:active,
.btn_outl_w:active:focus {
    background-color: white;
    color: var(--c_primary);
}

.btn_outl_w:focus {
    box-shadow: var(--sh_light);
}

.btn_outl_p {
    border: 1px solid var(--c_primary);
    color: var(--c_primary);
    box-shadow: var(--sh_base);
    transition: 300ms all;
}

.btn_outl_p:hover,
.btn_outl_p:focus,
.btn_outl_p:active,
.btn_outl_p:active:focus {
    background-color: var(--c_primary);
    color: white;
}

.btn_outl_p:focus {
    box-shadow: var(--sh_primary);
}

.btn_grad_reg {
    border: none;
    color: white;
    background-image: var(--bg_grad_h);
    box-shadow: var(--sh_base);
    transition: 300ms all;
    text-transform: uppercase;
    font-family: var(--ff_saira);
}

.btn_grad_reg:hover,
.btn_grad_reg:focus,
.btn_grad_reg:active,
.btn_grad_reg:active:focus {
    background-image: var(--bg_gradDark_h);
    color: white;
}

.btn_grad_reg:focus {
    box-shadow: var(--sh_primaryDark);
}

.btn_transp {
    color: white;
    box-shadow: var(--sh_base);
    transition: 300ms all;
}

.btn_transp:hover,
.btn_transp:focus,
.btn_transp:active,
.btn_transp:active:focus {
    background-color: white;
    color: var(--c_primary);
}

.btn_transp:focus {
    box-shadow: var(--sh_light);
}

.btn_circl_outl_p {
    width: 38px;
    height: 38px;
    border: 1px solid var(--c_primary);
    border-radius: 999px;
    color: var(--c_primary);
    background-color: white;
    box-shadow: var(--sh_base);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 300ms all;
}

.btn_circl_outl_p:hover,
.btn_circl_outl_p:focus,
.btn_circl_outl_p:active,
.btn_circl_outl_p:active:focus {
    background-color: var(--c_primary);
    color: white;
    text-decoration: none;
}

.btn_circl_outl_p:focus {
    box-shadow: var(--sh_primary);
}


.btn_circle_p {
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--c_primary);
    box-shadow: var(--sh_base);
    text-decoration: none;
    transition: 300ms all;
}

.btn_circle_p:hover,
.btn_circle_p:focus,
.btn_circle_p:active,
.btn_circle_p:active:focus {
    background-color: var(--c_primaryDark);
    color: white;
    text-decoration: none;
}

.btn_circle_p:focus {
    box-shadow: var(--sh_primary);
}

/* ROUNDED */
.rounded_1 {
    border-radius: 1rem;
}

.rounded_t_1 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* SIZING */
.h_header {
    height: 12.5rem;
}

.h_header {
    height: 12.5rem;
}

.h_100_vh {
    height: 100vh;
}

.h_100_p {
    height: 100%;
}

.mxh_5 {
    max-height: 5rem;
}

.mxw_10 {
    max-width: 10rem;
}

.mh_18 {
    min-height: 18rem;
}

.mh_12 {
    min-height: 12rem;
}

.mh_10 {
    min-height: 10rem;
}

.mh_8 {
    min-height: 8rem;
}

.mh_5 {
    min-height: 5rem;
}

/* MENU */
.toggle_menu {
    /* position: fixed;
    z-index: 2; */
    position: absolute;
    /* z-index: 2; */
}

.menu_area {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.75s;
    top: -100%;
}

.menu_content_area {
    width: 25rem;
}

.menu_area.active {
    top: 0;
    overflow: auto;
}

/* MENU */

/* TABLES */

/* FORMAT - IMPORTANT */

.dataTables_filter input[type="search"] {
    height: 38px;
}

.dataTables_filter input:focus,
.dataTables_length select:focus {
    box-shadow: var(--sh_primary);
}

.form_custom input:focus,
.form_custom select:focus {
    box-shadow: var(--sh_primary);
}

.form_custom label,
.form_custom p {
    color: var(--c_label);
}

@media (max-width: 375px) {
    .dataTables_filter label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dataTables_filter input {
        min-width: 100%;
    }

    .dataTables_info {
        overflow: hidden;
    }

    .dataTables_paginate {
        display: flex;
        justify-content: center;
    }
}

/* FORMAT - IMPORTANT */


/* ========== GENERAL STYLES ========== */

/* ========== LOGIN START ========== */
.login_form {
    max-width: 100%;
    width: 340px;
    padding: 15px;
}

.login_form .form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.login_form input:focus {
    box-shadow: var(--sh_primary);
}

.forgot-link {
    font-size: 12px;
}

/* ========== LOGIN END ========== */

.map {
    width: 100%;
    height: 100vh;
}

.h_100vh {
    height: 100vh;
}

.graphic {
    height: 30rem;
}

/* IMPORTANT */
.page-link {
    color: var(--c_primary);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-image: var(--bg_grad_h);
    border-color: var(--c_primaryDark);
}

.page-item.active .page-link:focus {
    box-shadow: var(--sh_primary);
}

.map_reg {
    width: 100%;
    height: 16rem;
}
